$bandsite-black: #323232;
$silver: #AFAFAF;
$white: #FFFFFF;

$bandsite-darkBlack: #000000;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;


@font-face {
    font-family: "Avenir Next";
    font-weight: 400;
    src: url("../assets/fonts/AvenirNextLTPro.ttf") format("truetype");
}

@font-face {
    font-family: "Avenir Next";
    font-weight: 600;
    src: url("../assets/fonts/AvenirNextLTProDemi.ttf") format("truetype");
}

@font-face {
    font-family: "Avenir Next";
    font-weight: 700;
    src: url("../assets/fonts/AvenirNextLTProBold.ttf") format("truetype");
}

//Include mixins for mobile, tablet and desktop [Leave original content as mobile?]
// @mixin mobile {

// }
//TABLET screen sizes are defined at 768px, but are applied to screen sizes from 768px to 1279px
@mixin tablet {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: 1280px) {
        @content;
    }
}


body {
    font-family: "Avenir Next";
    font-weight: 400;
}
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

ul {
    list-style-type: none;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

li {
    list-style-type: none;
}

a {
    &:link {
        text-decoration: none;
    }
}


.header {
    display: flex;
    background-color: $bandsite-black;
    justify-content: center;
    //!!! [Mobile]
    // padding: 0px 16px;
    padding: 24px 16px 0px 16px;

    // width: 100%;

    &__nav {
        display: flex;

        justify-content: space-between;
        align-items: center;

        // padding-top: 24px;
        flex-direction: column;
    }

    @include tablet {
        justify-content: flex-start;
        // padding: 0px 36px;
        padding: 24px 36px 0px 36px;

        &__nav {
            flex-direction: row;
            align-items: center;
        }
    }

    @include desktop {
        padding: 24px 56px 0px 56px;
        //???
        //padding: 24px 80px 0px 80px;
    }
}

.header-logo {
    // max-height: 20px;
    // max-width: 120px;
    height: 20px;
    width: 120px;

    @include tablet {
        margin-bottom: 10px;
        margin-right: 60px;
    }
}

.header-links {
    display: flex;
    list-style-type: none;
    justify-content: space-between;

    &__item {
        // color: #FFFFFF;
        max-width: fit-content;
        padding: 16px 48px;

        &--active, &:hover {
        //     font-weight: 700;
            border-bottom: 5px solid $white;
        }

        // &--inactive {
        //     color: $mercury;
        // }
    }

    &__link {
        // color: #FFFFFF;

        // max-width: fit-content;
        // color: $mercury;
        
        // // margin: 0px 48px;
        // // padding: 16px 0px;
        
        // padding: 16px 48px;

        // &--active {
        //     font-weight: 700;
        //     // font-weight: bold;
        //     // border-bottom: 5px solid $white;
        // }
        // &--active, &:hover {
        //     border-bottom: 5px solid $white;
        //     color: $white;
        // }

        // &--inactive {
        //     color: $mercury;
        // }

        // &:hover {
        //     border-bottom: 5px solid $white;
        //     color: $white;
        // }

        color: $mercury;
        max-width: fit-content;
        // padding: 16px 48px;

        // &:hover {
        //     border-bottom: 5px solid $white;
        // }
        // &--active {
        //     // font-weight: 700;
        //     // border-bottom: 5px solid $white;
        //     @extend .header-links_link:hover
        // }
        &--active {
            font-weight: 700;
        }
        &--active, &:hover {
            color: $white;
            // border-bottom: 5px solid $white;
        }
        &:hover {
            font-weight: 600;
        }
    }

    @include tablet {
        &__item {
            //padding: 24px 0px;
            padding: 16px 0px 24px 0px;
            margin-right: 50px;
        }
        
        // &__link {
        //     // padding: 16px 0px;
        //     padding: 16px 0px 24px 0px;
        //     // margin-right: 30px;
        //     margin-right: 50px;
        //     //???
        //     //padding: 24px 0px;
            
        // }
    }
}

.page-footer {
    background-color: $bandsite-black;
    display: flex;
    flex-direction: column;
    color: $white;

    // padding: 24px 16px 0px 16px;
    padding: 24px 16px 16px 16px;

    &__box {
        padding-bottom: 16px;
        
        &--contacts {
            display: flex;
            flex-direction: column;
        }

    }

    &__header {
        font-size: 24px;
        line-height: 32px;
        // font-weight: 700;
        font-weight: 600;

        padding-bottom: 16px;
    }

    &__logos {
        display: flex;
        justify-content: space-between;
        width: 40%;
    }

    &__logos-image {
        // min-width: 10px;
        // max-width: 20px;
        // min-height: 10px;
        // max-height: 20px;
    }

    &__text-collection {
        padding-bottom: 16px;

    }

    &__text-box {
        padding-bottom: 16px;

    }

    &__text {
        font-size: 13px;
        line-height: 18px;
        color: $mercury;


        &--worker {
            color: $white;
            font-weight: 600;
        }
    }

    &__website-logo {
        //similarities to 'header__root'
        // height: 20px;
        // width: 120px;
        @extend .header-logo;
    }

    @include tablet {
        padding: 48px 36px 36px 36px;

        &__box {
            display: flex;
            align-items: baseline;
            padding-bottom: 36px;

            &--contacts {
                flex-direction: row;
                justify-content: space-between;
            }
        }

        &__header {
            font-size: 36px;
            line-height: 44px;
            //Remove to have font-weight be 600
            //font-weight: 700;
        }

        &__logos {
            justify-content: space-evenly;
            //width: 30%;
            width: 32%;
        }

        &__text-collection {
            padding-bottom: 36px;
    
        }
    
        &__text-box {
            padding-bottom: 36px;
    
        }
    
        &__text {
            font-size: 14px;
            line-height: 20px;
        }

        &__website-logo {
            position: absolute;
            right: 50px;
            margin-top: 10px;
            margin-bottom: 0;
            margin-right: 0;
        }
    }

     
    @include desktop {
        //Possibly use instead with margin-left of 24px for elements within?
        padding: 48px 56px 56px 56px;

        //padding: 48px 80px 80px 80px;

        // padding: 48px 80px 56px 80px;

        &__box {
            width: 55%;

            margin-left: 24px;

            &--contacts {
                width: 60%
            }
        }

        &__header {
            font-weight: 600;
        }

        &__logos {
            //width: 20%;
            // width: 25%;
            
            // width: 30%;
            
            //For margin-left of 24px
            width: 35%;
        }

        &__website-logo {
            margin-right: 50px;
        }
    }
    
}