$bandsite-black: #323232;
$silver: #AFAFAF;
$white: #FFFFFF;

$bandsite-darkBlack: #000000;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;


@font-face {
    font-family: "Avenir Next Regular";
    font-weight: 400;
    src: url("../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype"),
        url("../assets/fonts/AvenirNextLTPro.ttf") format("truetype");
}

@font-face {
    font-family: "Avenir Next Demi";
    font-weight: 600;
    src: url("../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype"), 
        url("../assets/fonts/AvenirNextLTProDemi.ttf") format("truetype");
}

@font-face {
    font-family: "Avenir Next Bold";
    font-weight: 700;
    src: url("../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype"), 
        url("../assets/fonts/AvenirNextLTProBold.ttf") format("truetype");
}

//TABLET screen sizes are defined at 768px, but are applied to screen sizes from 768px to 1279px
@mixin tablet {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: 1280px) {
        @content;
    }
}


@mixin type-kit($fs, $lh, $ff: "Avenir Next Regular") {
    font-size: $fs;
    line-height: $lh;
    font-family: $ff;
}


body {
    font-family: "Avenir Next Regular";
}
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

ul {
    list-style-type: none;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

li {
    list-style-type: none;
}

a {
    &:link {
        text-decoration: none;
    }
}


.header {
    display: flex;
    background-color: $bandsite-black;
    justify-content: center;
    padding: 24px 16px 0px 16px;

    &__nav {
        display: flex;
        //***
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    @include tablet {
        justify-content: flex-start;
        padding: 24px 36px 0px 36px;

        &__nav {
            flex-direction: row;
            align-items: center;
        }
    }

    @include desktop {
        padding: 24px 56px 0px 80px;
    }
}

.header-logo {
    height: 20px;
    width: 120px;

    @include tablet {
        margin-bottom: 10px;
        margin-right: 60px;
    }
}

.header-links {
    display: flex;
    list-style-type: none;
    justify-content: space-between;

    &__item {
        max-width: fit-content;
        padding: 16px 48px;

        &--active, &:hover {
            border-bottom: 5px solid $white;
        }
    }

    &__link {
        color: $mercury;
        max-width: fit-content;
        
        &--active {
            font-family: "Avenir Next Bold";
        }
        &--active, &:hover {
            color: $white;
        }
        &:hover {
            font-family: "Avenir Next Demi";
        }
    }

    @include tablet {
        &__item {
            padding: 16px 0px 24px 0px;
            margin-right: 50px;
        }
    }
}

.page-footer {
    background-color: $bandsite-black;
    display: flex;
    flex-direction: column;
    color: $white;
    padding: 24px 16px 16px 16px;

    &__box {
        padding-bottom: 16px;
        
        &--contacts {
            display: flex;
            flex-direction: column;
        }
    }

    &__header {
        @include type-kit(24px, 32px, "Avenir Next Demi");
        // font-size: 24px;
        // line-height: 32px;
        // font-family: "Avenir Next Demi";

        padding-bottom: 16px;
    }

    &__logos {
        display: flex;
        justify-content: space-between;
        width: 40%;
    }

    &__logos-image {
        // min-width: 10px;
        // max-width: 20px;
        // min-height: 10px;
        // max-height: 20px;
    }

    &__text-collection {
        padding-bottom: 16px;
    }

    &__text-box {
        padding-bottom: 16px;
    }

    &__text {
        @include type-kit(13px, 18px);
        // font-size: 13px;
        // line-height: 18px;

        color: $mercury;

        &--worker {
            color: $white;
            font-family: "Avenir Next Demi";
        }
    }

    &__website-logo {
        //similarities to 'header__root'
        // height: 20px;
        // width: 120px;
        @extend .header-logo;
    }

    @include tablet {
        padding: 48px 36px 36px 36px;

        &__box {
            display: flex;
            align-items: baseline;
            padding-bottom: 36px;

            &--contacts {
                flex-direction: row;
                justify-content: space-between;
            }
        }

        &__header {
            //***
            @include type-kit(36px, 44px, "Avenir Next Demi");
            // font-size: 36px;
            // line-height: 44px;
        }

        &__logos {
            justify-content: space-evenly;
            width: 32%;
        }

        &__text-collection {
            padding-bottom: 36px;
        }
    
        &__text-box {
            padding-bottom: 36px;
        }
    
        &__text {
            //Don't use, won't have 
            @include type-kit(14px, 20px);
            // font-size: 14px;
            // line-height: 20px;

            &--worker {
                font-family: "Avenir Next Demi";
            }
        }

        &__website-logo {
            position: absolute;
            right: 50px;
            margin-top: 10px;
            margin-bottom: 0;
            margin-right: 0;
        }
    }

    @include desktop {
        padding: 48px 56px 56px 56px;

        &__box {
            width: 55%;
            margin-left: 24px;

            &--contacts {
                width: 60%
            }
        }

        &__logos {
            width: 35%;
        }

        &__website-logo {
            margin-right: 50px;
        }
    } 
}