@font-face {
  font-family: "Avenir Next Regular";
  font-weight: 400;
  src: url("../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype"), url("../assets/fonts/AvenirNextLTPro.ttf") format("truetype");
}
@font-face {
  font-family: "Avenir Next Demi";
  font-weight: 600;
  src: url("../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype"), url("../assets/fonts/AvenirNextLTProDemi.ttf") format("truetype");
}
@font-face {
  font-family: "Avenir Next Bold";
  font-weight: 700;
  src: url("../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype"), url("../assets/fonts/AvenirNextLTProBold.ttf") format("truetype");
}
body {
  font-family: "Avenir Next Regular";
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

ul {
  list-style-type: none;
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
}

li {
  list-style-type: none;
}

a:link {
  text-decoration: none;
}

hr {
  border: 0;
  border-bottom: 1px solid #E1E1E1;
}

.header {
  display: flex;
  background-color: #323232;
  justify-content: center;
  padding: 24px 16px 0px 16px;
}
.header__nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .header {
    justify-content: flex-start;
    padding: 24px 36px 0px 36px;
  }
  .header__nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (min-width: 1280px) {
  .header {
    padding: 24px 56px 0px 80px;
  }
}

.header-logo, .page-footer__website-logo {
  height: 20px;
  width: 120px;
}
@media screen and (min-width: 768px) {
  .header-logo, .page-footer__website-logo {
    margin-bottom: 10px;
    margin-right: 60px;
  }
}

.header-links {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}
.header-links__item {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 16px 48px;
}
.header-links__item--active, .header-links__item:hover {
  border-bottom: 5px solid #FFFFFF;
}
.header-links__link {
  color: #E1E1E1;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
.header-links__link--active {
  font-family: "Avenir Next Bold";
}
.header-links__link--active, .header-links__link:hover {
  color: #FFFFFF;
}
.header-links__link:hover {
  font-family: "Avenir Next Demi";
}
@media screen and (min-width: 768px) {
  .header-links__item {
    padding: 16px 0px 24px 0px;
    margin-right: 50px;
  }
}

.page-footer {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  color: #FFFFFF;
  padding: 24px 16px 16px 16px;
}
.page-footer__box {
  padding-bottom: 16px;
}
.page-footer__box--contacts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}
.page-footer__header {
  font-size: 24px;
  line-height: 32px;
  font-family: "Avenir Next Demi";
  padding-bottom: 16px;
}
.page-footer__logos {
  display: flex;
  justify-content: space-between;
  width: 40%;
}
.page-footer__text-collection {
  padding-bottom: 16px;
}
.page-footer__text-box {
  padding-bottom: 16px;
}
.page-footer__text {
  font-size: 13px;
  line-height: 18px;
  font-family: "Avenir Next Regular";
  color: #E1E1E1;
}
.page-footer__text--worker {
  color: #FFFFFF;
  font-family: "Avenir Next Demi";
}
@media screen and (min-width: 768px) {
  .page-footer {
    padding: 48px 36px 36px 36px;
  }
  .page-footer__box {
    display: flex;
    align-items: baseline;
    padding-bottom: 36px;
  }
  .page-footer__box--contacts {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
  .page-footer__header {
    font-size: 36px;
    line-height: 44px;
    font-family: "Avenir Next Demi";
  }
  .page-footer__logos {
    justify-content: space-evenly;
    width: 32%;
  }
  .page-footer__text-collection {
    padding-bottom: 36px;
  }
  .page-footer__text-box {
    padding-bottom: 36px;
  }
  .page-footer__text {
    font-size: 14px;
    line-height: 20px;
    font-family: "Avenir Next Regular";
  }
  .page-footer__text--worker {
    font-family: "Avenir Next Demi";
  }
  .page-footer__website-logo {
    position: absolute;
    right: 50px;
    margin-top: 10px;
    margin-bottom: 0;
    margin-right: 0;
  }
}
@media screen and (min-width: 1280px) {
  .page-footer {
    padding: 48px 56px 56px 56px;
  }
  .page-footer__box {
    width: 55%;
    margin-left: 24px;
  }
  .page-footer__box--contacts {
    width: 60%;
  }
  .page-footer__logos {
    width: 35%;
  }
  .page-footer__website-logo {
    margin-right: 50px;
  }
}

form {
  width: 82%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media screen and (min-width: 768px) {
  form {
    width: 90%;
  }
}

.hero {
  position: relative;
  background-image: url("../assets/images/hero-bio.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  height: 50vh;
  min-width: 100%;
  max-width: 100%;
  padding: 0px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(50, 50, 50, 0.5);
  height: 50vh;
  min-width: 100%;
  max-width: 100%;
}
.hero__title {
  position: relative;
  font-size: 24px;
  line-height: 32px;
  font-family: "Avenir Next Demi";
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .hero {
    height: 75vh;
    padding: 0px 36px;
  }
  .hero::before {
    height: 75vh;
  }
  .hero__title {
    font-size: 60px;
    line-height: 68px;
    font-family: "Avenir Next Demi";
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    height: 100vh;
  }
  .hero::before {
    height: 100vh;
  }
  .hero__title {
    margin-left: 40px;
    width: 50%;
  }
}

.about-musicians {
  padding: 24px 16px 0px 16px;
}
.about-musicians__header {
  font-size: 24px;
  line-height: 32px;
  font-family: "Avenir Next Demi";
  padding-bottom: 16px;
}
.about-musicians__content {
  display: flex;
  flex-direction: column;
  padding: 0;
}
.about-musicians__img {
  padding-bottom: 16px;
  min-width: 100%;
  height: auto;
  width: 18rem;
  min-height: 177.58px;
  max-height: 428.36px;
}
.about-musicians__quote, .about-musicians__quoter {
  font-size: 14px;
  line-height: 22px;
  font-family: "Avenir Next Demi";
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .about-musicians {
    padding: 0px 36px 36px 36px;
  }
  .about-musicians__header {
    font-size: 36px;
    line-height: 44px;
    font-family: "Avenir Next Demi";
    padding-top: 48px;
    padding-bottom: 36px;
  }
  .about-musicians__content {
    padding: 0px 24px 0px 24px;
  }
  .about-musicians__img {
    padding-bottom: 36px;
    width: 41rem;
    height: 30rem;
    min-width: 0%;
  }
  .about-musicians__quote, .about-musicians__quoter {
    font-size: 24px;
    line-height: 32px;
    font-family: "Avenir Next Demi";
  }
  .about-musicians__quoter {
    font-size: 14px;
    line-height: 22px;
    font-family: "Avenir Next Demi";
  }
}
@media screen and (min-width: 1280px) {
  .about-musicians {
    padding: 0px 56px 56px 56px;
  }
  .about-musicians__content {
    padding: 0px 32px 0px 32px;
  }
  .about-musicians__img {
    width: 48rem;
    height: 30rem;
  }
  .about-musicians__quote, .about-musicians__quoter {
    width: 65%;
  }
}

.band-bio {
  display: flex;
  padding: 0px 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}
.band-bio__band-name {
  font-size: 14px;
  line-height: 22px;
  font-family: "Avenir Next Demi";
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .band-bio {
    padding: 0px 36px;
  }
  .band-bio__band-name {
    font-size: 24px;
    line-height: 22px;
    font-family: "Avenir Next Demi";
    padding-bottom: 36px;
    margin-left: 25px;
  }
}
@media screen and (min-width: 1280px) {
  .band-bio {
    padding: 0px 56px;
  }
  .band-bio__band-name {
    margin-left: 32px;
  }
}

.band-bio-text-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}
.band-bio-text-box__card {
  font-size: 13px;
  line-height: 18px;
  font-family: "Avenir Next Regular";
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .band-bio-text-box {
    flex-direction: row;
  }
  .band-bio-text-box__card {
    font-size: 14px;
    line-height: 22px;
    font-family: "Avenir Next Regular";
    padding-bottom: 36px;
    margin: 0px 28px;
    width: 40%;
  }
}
@media screen and (min-width: 1280px) {
  .band-bio-text-box__card {
    width: 35.5%;
    margin-left: 32px;
  }
}

.photo-gallery {
  background-color: #E1E1E1;
  padding: 0px 16px;
  display: flex;
  flex-direction: column;
}
.photo-gallery__header, .comments__header {
  font-size: 24px;
  line-height: 32px;
  font-family: "Avenir Next Demi";
  padding-top: 24px;
}
@media screen and (min-width: 768px) {
  .photo-gallery {
    padding: 0px 36px;
  }
  .photo-gallery__header, .comments__header {
    font-size: 36px;
    line-height: 44px;
    font-family: "Avenir Next Demi";
    padding-bottom: 16px;
    position: relative;
    left: 2%;
    padding-top: 48px;
  }
}
@media screen and (min-width: 1280px) {
  .photo-gallery {
    padding: 0px 56px;
  }
}

.photo-section {
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;
}
.photo-section__image {
  padding-top: 16px;
}
@media screen and (min-width: 768px) {
  .photo-section {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 24px;
  }
  .photo-section__image {
    width: 30%;
    margin: 1vw 0;
    padding: 0;
  }
}

.comments {
  background-color: #FFFFFF;
  padding: 0px 16px 16px 16px;
}
.comments__header {
  padding-bottom: 16px;
}
.comments__form {
  display: flex;
  justify-content: space-between;
}
.comments__imgCard {
  background-image: url("../assets/images/Mohan-muruge.jpg");
  border-radius: 50%;
  width: 36px;
  height: 36px;
  background-color: #E1E1E1;
  background-size: cover;
  position: relative;
  top: 24px;
}
.comments__formField {
  border: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.comments__fieldInputSection {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.comments__fieldName {
  font-size: 10px;
  line-height: 20px;
  font-family: "Avenir Next Bold";
  color: #AFAFAF;
  text-transform: uppercase;
}
.comments__nameInput, .comments__commentInput {
  height: 36px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #E1E1E1;
  background-color: #FAFAFA;
  padding: 12px;
}
.comments__nameInput:active, .comments__commentInput:active {
  border: 1px solid #323232;
  background-color: #FFFFFF;
}
.comments__nameInput--errorState {
  border: 1px solid #D22D2D;
}
.comments__commentInput {
  padding-bottom: 75px;
}
.comments__button {
  background-color: #323232;
  color: #FFFFFF;
  height: 40px;
  width: 100%;
  border-radius: 4px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}
.comments__button:hover {
  background-color: #000000;
}
@media screen and (min-width: 768px) {
  .comments {
    padding: 0px 36px 36px 36px;
  }
  .comments__header {
    font-size: 36px;
    line-height: 44px;
    font-family: "Avenir Next Demi";
    padding-top: 48px;
    padding-bottom: 36px;
  }
  .comments__form {
    margin: auto;
    width: 80%;
    gap: 15px;
  }
  .comments__imgCard {
    width: 48px;
    height: 48px;
  }
  .comments__fieldName {
    font-size: 12px;
    line-height: 20px;
    font-family: "Avenir Next Bold";
  }
  .comments__nameInput, .comments__commentInput {
    height: 48px;
    padding: 16px;
  }
  .comments__commentInput {
    padding-bottom: 79px;
  }
  .comments__button {
    width: 150px;
    padding: 0px 32px;
    align-self: end;
  }
}
@media screen and (min-width: 1280px) {
  .comments {
    padding: 0px 56px 36px 56px;
  }
  .comments__form {
    width: 50%;
    gap: 16px;
  }
}

.comment-container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .comment-container {
    margin: auto;
    width: 83%;
  }
}
@media screen and (min-width: 1280px) {
  .comment-container {
    width: 50%;
  }
}

.comment-object__content {
  display: flex;
  margin: 16px 0px;
  gap: 10px;
  justify-content: space-between;
}
.comment-object__avatar {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  background-color: #E1E1E1;
}
.comment-object__data-section {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.comment-object__personalData-section {
  display: flex;
  justify-content: space-between;
}
.comment-object__text {
  font-size: 13px;
  line-height: 18px;
  font-family: "Avenir Next Regular";
}
.comment-object__text--commenter {
  font-size: 14px;
  line-height: 22px;
  font-family: "Avenir Next Demi";
}
.comment-object__text--time {
  color: #E1E1E1;
}
@media screen and (min-width: 768px) {
  .comment-object {
    margin-bottom: 0px;
  }
  .comment-object__content {
    margin: 24px 0px;
    gap: 15px;
  }
  .comment-object__avatar {
    border-radius: 50%;
    width: 48px;
    height: 48px;
    background-color: #E1E1E1;
  }
  .comment-object__text {
    font-size: 14px;
    line-height: 22px;
    font-family: "Avenir Next Regular";
  }
  .comment-object__text--commenter {
    font-size: 14px;
    line-height: 22px;
    font-family: "Avenir Next Demi";
  }
}
@media screen and (min-width: 1280px) {
  .comment-object__content {
    margin: 24px 0px;
    gap: 20px;
  }
  .comment-object__data-section {
    width: 100%;
  }
}/*# sourceMappingURL=bio.css.map */