@use './partials/global'as *;

.active {
    background-color: $mercury;
}

//****
.hero {
    position: relative;
    background-image: url('../assets/images/hero-shows.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    @include flexbox-properties(column, center);
    height: 50vh;
    min-width: 100%;
    max-width: 100%;
    padding: 0px 16px;

    &::before {
        content: "";
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background-color: rgba(50, 50, 50, 0.5);
        height: 50vh;
        min-width: 100%;
        max-width: 100%;
    }
    //***
    &__subsection {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    //***
    &__subheader {
        position: relative;
        @include type-kit(14px, 22px, "Avenir Next Demi");
        color: $white;
    }

    &__title {
        position: relative;
        @include type-kit(24px, 32px, "Avenir Next Demi");
        color: $white;
        width: 65%;
        padding-bottom: 16px;
    }

    //***
    &__soundCloud {
        position: relative;
        height: 40%;
    }
    

    @include tablet {
        height: 75vh;
        padding: 0px 36px;

        &::before {
            height: 75vh;
        }

        &__subsection {
            gap: 0px;
        }

        //***
        &__subheader {
            @include type-kit(24px, 32px, "Avenir Next Demi");
            //***
            padding-bottom: 16px;
            padding-top: 16px;
        }

        &__title {
            @include type-kit(60px, 68px, "Avenir Next Demi");
            //***
            padding-bottom: 36px;
            width: 75%;
        }

        &__soundCloud {
            height: 40%;
            width: 60%;
            padding-bottom: 36px;
        }
    }

    @include desktop {
        height: 100vh;
        flex-direction: row;

        &::before {
            height: 100vh;
        }

        //*** 
        &__subheader {
            margin-left: 24px;
            top: 25vh;
            padding-top: 0px;
        }

        &__title {
            margin-left: 24px;
            top: 30vh;
            width: 68%;
            padding-bottom: 0px;
        }
         
        &__soundCloud {
            top: 32vh;
            height: 24%;
            width: 60%;
            padding-bottom: 0px;
        }
    }
}

.shows {
    padding-top: 24px;

    &__header {
        @include type-kit(24px, 32px, "Avenir Next Demi");
        padding: 0px 16px 16px 16px;
    }

    &__dvl {
        display: none;
    }

    &__show {
        margin-bottom: 16px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        padding: 0px 16px 16px 16px;
        cursor: pointer;
        
        &:hover {
            background-color: $alabaster;
        }
    }

    &__label {
        @include type-kit(10px, 20px, "Avenir Next Bold");
        color: $silver;
        text-transform: uppercase;
        padding-bottom: 8px;
    }

    &__data {
        @include type-kit(13px, 18px, "Avenir Next Regular");
        padding-bottom: 16px;
        
        &--date {
            @include type-kit(13px, 18px, "Avenir Next Demi");
        }
    }

    //Possibly make global for both "bio" and "shows" pages
    &__button {
        background-color: $bandsite-black;
        color: $white;
        height: 40px;
        width: 100%;
        border-radius: 4px;
        text-transform: uppercase;
        border: none;
        cursor: pointer;

        &:hover {
            background-color: $bandsite-darkBlack;
        }
    }

    @include tablet {
        padding: 48px 36px 24px 36px;

        &__header {
            @include type-kit(36px, 44px, "Avenir Next Demi");
            padding-bottom: 36px;
        }

        &__dvl {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 0px 16px 16px 16px;
            width: 63.5%;
        }

        &__content {
            flex-direction: row;
            justify-content: space-between;
            align-items: baseline;
        }

        &__label {
            @include type-kit(12px, 20px, "Avenir Next Bold");

            &--hidden {
                display: none;
            }
        }
        &__data {
            @include type-kit(14px, 22px, "Avenir Next Regular");
            width: 20%;

            &--date {
                @include type-kit(14px, 22px, "Avenir Next Demi");
            }

            &--venue {
                margin-right: 10px;
            }
        }

        &__button {
            width: 150px;
            padding: 0px 30px;
        }
    }

    @include desktop {
        display: flex;
        padding: 48px 56px 16px 56px;
        justify-content: space-evenly;
        width: 80%;

        &__header {
            margin-right: 100px;
        }

        &__dvl {
            padding: 24px 16px 16px 16px;
            width: 125%;
        }

        &__label {
            width: 25%;
            margin-right: 10px;

            &--venueAlign {
                margin-left: 35px;
            }

            &--locationAlign {
                margin-right: 40px;
            }
        }

        &__data {
            &--date {
                margin-right: 50px;
            }
        }

        &__show {
            margin-bottom: 32px;
        }

        &__content {
            width: 150%;
        }

        &__divider {
            width: 150%;
        }
    }
}